img {
	width: 80px;
}

body {
	background-color: #fff;
	background-image: linear-gradient(-90deg, #667be6, #754da3);
	font-family: arial;
}

.row {
	margin: auto;
	width: 800px;
	max-width: 100%;
}

.header {
	height: 100px;
	max-height: 100%;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	font-family: arial;
	color: #fff;
	text-transform: lowercase;
}

.dice {
	max-width: 520px;
	margin: 0 auto;
}

#scoreboard {
	margin-top: 2rem;
}

.score {
	background-color: rgba(245, 179, 242, 0.231);
	color: #6e125c;
	height: 60px;
	max-height: 100%;
	font-size: 32px;
	text-align: center;
	line-height: 60px;
	width: calc(100% / 6);
	border-radius: 8px;
}

.button-container {
	margin-top: 5rem;
}

.button {
	background-color: rgb(124, 135, 236);
	color: rgb(118, 41, 118);
	padding: 15px 32px;
	text-align: center;
	border: none;
	border-radius: 8px;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin-left: 25px;
}

.button:hover {
	cursor: pointer;
	background-color: rgb(118, 41, 118);
	color: rgb(124, 135, 236);
}

.column {
	float: left;
	width: 20%;
	margin-left: 160px;
}

.roll {}

.roll:hover {}

.bank {}

.bank:hover {}

.transparent {
	/*For dice that are selected*/
	opacity: 0.75;
}

.player-container {
	margin: 15rem auto 0;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15rem;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 2rem;
	color: #ffffff;
	font-weight: 600;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.player:has(.active) {
	color: #7c1666;
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
}